<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="viewBean"
          class="ru.platunov.View">
    </bean>

    <bean id="controllerBean"
          class="ru.platunov.Controller">
        <constructor-arg ref="viewBean"/>
    </bean>

    <bean id="htmlFileFilter"
          class="ru.platunov.HTMLFileFilter">
    </bean>

    <bean id="tabbedPaneChangeListener"
          class="ru.platunov.listeners.TabbedPaneChangeListener">
        <constructor-arg ref="viewBean"/>
    </bean>

    <bean id="frameListener"
          class="ru.platunov.listeners.FrameListener">
        <constructor-arg ref="viewBean"/>
    </bean>

    <bean id="textEditMenuListener"
          class="ru.platunov.listeners.TextEditMenuListener">
        <constructor-arg ref="viewBean"/>
    </bean>

</beans>